@model List<GetLocationQueryResult>
@{
    ViewData["Title"] = "LocationList";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-4">Lokasyonlar</h2>

            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <span>Lokasyon Listesi</span>
                    <a href="/Location/Create" class="btn btn-info">Yeni Lokasyon Ekle</a>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Lokasyon</th>
                                    <th>Güncelle</th>
                                    <th>Sil</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="col-md-2">@item.LocationID</td>
                                        <td class="col-md-6">@item.LocationName</td>
                                        <td class="col-md-2">
                                            <a href="/Location/Update/@item.LocationID" class="btn btn-primary">Güncelle</a>
                                        </td>
                                        <td class="col-md-2">
                                            <a href="/Location/Remove/@item.LocationID" class="btn btn-danger ml-2">Sil</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
